<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login | SmartISP - Best ISP Management and Billing System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ISP Management System, Hotspot Billing, PPPOE Billing, ISP Billing Software, Mikrotik Billing, ISP ERP, Wifi Billing, Hotspot Manager">
    <meta name="description" content="Log in to SmartISP - the best ISP Management and Billing System. Manage your hotspot, PPPOE billing, and more with ease. Ideal for small and medium-sized ISP providers.">
    <meta name="author" content="TNRSOFT - Tanjimul Islam">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="assets/custom/logo/favicon.ico">
    <link href="assets/css/bootstrap-creative.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet">
    <link href="assets/css/app-creative.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet">
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="assets/custom/css/custom.css" rel="stylesheet" type="text/css">
    <script src="assets/libs/pace/pace.min.js"></script>
</head>

<body class="auth-fluid-pages pb-0 pace-done">
    <div class="auth-fluid">
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    <div class="auth-brand text-center text-lg-left">
                        <div class="auth-logo">
                            <a href="index.php" class="logo logo-dark text-center">
                                <span class="logo-lg">
                                    <img src="https://ispbill.com/assets/custom/logo/logo-dark.png" alt="SmartISP Logo - ISP Management System" height="35px" width="175px">
                                </span>
                            </a>
                            <a href="index.php" class="logo logo-light text-center">
                                <span class="logo-lg">
                                    <img src="https://ispbill.com/assets/custom/logo/logo-dark.png" alt="SmartISP Logo - ISP Management System" height="35px" width="175px">
                                </span>
                            </a>
                        </div>
                    </div>

                    <h4 class="mt-0 text-center">Sign In</h4>
                    <p class="text-muted mb-4">Enter your email address and password to access account.</p>

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Email address</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <a href="#" class="text-muted float-right"><small>Forgot your password?</small></a>
                            <label for="password">Password</label>
                            <div class="input-group input-group-merge">
                                {{ form.password }}
                                <div class="input-group-append" data-password="false">
                                    <div class="input-group-text">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="custom-control custom-checkbox">
                                {{ form.remember_me }}
                                <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit">Log In</button>
                        </div>
                    </form>

                    <footer class="footer footer-alt">
                        <script>
                            document.write(new Date().getFullYear().toString())
                        </script> 2024 © SmartISP By <a href="https://tnrsoft.com/">TNRSoft</a>
                    </footer>
                </div>
            </div>
        </div>

        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <h2 class="mb-3 text-white">Quotes!</h2>
                <p class="lead"><i class="mdi mdi-format-quote-open"></i> Any fool can write code that a computer can understand. Good programmers write code that humans can understand. <i class="mdi mdi-format-quote-close"></i></p>
                <h5 class="text-white">- Martin Fowler</h5>
            </div>
        </div>
    </div>

    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/app.min.js"></script>
</body>
</html>
